In [1]:
import pandas as pd

In [2]:
df2 = pd.DataFrame()
df3 = pd.DataFrame()

In [3]:
data = pd.read_csv("movies_metadata.csv")
data2 = pd.read_csv("AllMoviesDetailsCleaned.csv", sep=";")
data3 = pd.read_csv("MovieData.csv")
movies = {}

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
temp = []
for index, row in data.iterrows():
    x = row['revenue']
    y = row['budget']
    title = row['original_title']
    if title not in movies.keys():
        movies[title] = 1
        if x > 100000 and row['original_language'] == "en":
            temp.append(row)
df1 = pd.DataFrame(temp)
print df1.head(1)
df1.to_csv('df1.csv')

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...

                               homepage   id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story  862  tt0114709                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...

     ...     release_date      revenue runtime  \
0    ...       1995-10-30  373554033.0    81.0

                           spoken_languages    status  tagline      title  \
0  [{'iso_639_1': 'en', 'name': 'English'}]  Released      NaN  Toy Story

   video vote_average vote_count
0  False          7.7     5415.0

[1 rows x 24 columns]

In [ ]:
temp = []
for index, row in data2.iterrows():
    x = row['revenue']
    y = row['budget']
    title = row['original_title']
    if title not in movies.keys():
        movies[title] = 1
        if x > 100000 and row['original_language'] == "en":
            temp.append(row)
df2 = pd.DataFrame(temp)
print df2.head(1)
df2.to_csv('df2.csv')

In [ ]:
temp = []
print data3.head(1)
for index, row in data3.iterrows():
    title = row['movie_name']
    x = row['production_budget']
    y = row['domestic_box_office']
    if title not in movies.keys():
            if x != 0 and y > 100000:
                temp.append(row)
df3 = pd.DataFrame(temp)           
print df3.head(1)
df3.to_csv('df3.csv')

In [ ]:
for elem in data.columns.tolist():
    print elem

In [ ]:
for elem in data2.columns.tolist():
    print elem

In [ ]:
columns = ['title', 'budget', 'release-year', 'runtime', 'genre']
dataset = pd.DataFrame()

In [ ]:
df1 = pd.read_csv('df1.csv')
df2 = pd.read_csv('df2.csv')
l1 = df1.columns.tolist()
l2 = df2.columns.tolist()
for elem in l1:
    if elem not in l2:
        print elem
print 'elems from df2'
for elem in l2:
    if elem not in l1:
        print elem
df1 = df1.drop(['adult', 'belongs_to_collection', 'id', 'poster_path', 'video'], axis=1)
df2 = df2.drop(['production_companies_number', 'production_countries_number', 'spoken_languages_number'], axis=1)

In [ ]:
dataset = pd.concat([df1, df2])
print dataset.head(1)

In [ ]:
for elem in dataset.columns.tolist():
    print elem

In [ ]:
dataset.to_csv("data/movies.csv")

In [ ]:
sum = 0
rows = 0
names = {}
for index, row in dataset.iterrows():
    rows +=  1
    if row['budget'] == 0:
        sum += 1
#         print row['original_title']
print sum
print rows